@media (max-width: 991px){

}
@media (max-width: 767px){
    .consultation{
        min-height: 300px;
        &__descr{
             text-align: center;
             font-size: 18px;
             line-height: 20px;
        }
    }
    .feed-form{
        margin: 0 auto;
        margin-top: 30px;
    }
}
@media(max-width: 575px) {
    .consultation{
        padding: 25px 0;
        min-height: 400px;
        br{
            display: none;
        }
        &__descr{
            font-size: 16px;
            text-align: center;
        }
    }
    .feed-form{
        margin: 0 auto;
        margin-top: 20px;
    }
}